@import "./variables";
@import "./mediaquery";

@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;600;800&family=Merienda+One&display=swap');

@mixin display {
  display: flex;
  justify-content: center;
  align-items: center;
}


html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
  background-image:
  linear-gradient(to top right, rgba(245, 246, 252, 0.52), rgba(117, 75, 19, 0.93)),
  url('../img/bg1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  min-height: 100vh;
  width: 100vw;
}

nav {
    position: fixed;
    height: 80px;
    width: 100vw;
    display: flex;
    padding: 1em 2em;
  

  
  
    .navcontent {
      display: flex;
      justify-content: space-between;
        width: 100%;
      margin: 10px auto;
      @include for-size(phone-only) {
       justify-content: center
      }
      
    }
    .navbrand img {
      @include display();
       width: 3em;
      margin: 5px;
      @include for-size(phone-only) {
       display: none;

      }
      .fa-hamburger {
        color: var(--others);
      }
      &:hover {
        cursor: pointer;
      }
    }
    ul {
      @include display();
      width: 100%;
      @include for-size(phone-only) {
        margin: auto;
      }
      // @include for-size(phone-only) {
      //   display: flex;
      //   flex-direction: column;
      //   position: absolute;
      //   top: 15px;
      //   right: -140px;
      //   margin-top: 2em;
        
      
 
      //   z-index: 9999999999;
      //   -webkit-font-smoothing: antialiased;
      //   /* to stop flickering of text in safari */
        
      //   transform-origin: 0% 0%;
      //   transform: translate(100%, 0);
        
      //   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        
      //  }
   
    }
  
    a{
      text-decoration: none;
    }
  
   li {
    overflow: hidden;
    display: grid;
    font-size: 18px;
  
    color: var(--white);
    margin: 15px;
    position: relative;
      transition: all 0.2s;
     
      @include for-size(phone-only) {
       margin: 8px;
       font-size: 15px;
       
      }
      
     
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: var(--others);
        animation: slide-out 300ms ease-in-out forwards;
        
      }
    }
    li:hover {
      cursor: pointer;
   
      &:after {
        animation: slide-in 300ms;
      }
    }
}

header{
    display: none;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    color: var(--white);
    line-height: 2;
    transition: all 0.5s;
    @include for-size(phone-only) {
        text-align: center;
        align-items: center;
        width: 100vw;
      }
  
  
    .icons i{
        font-size: 2em;
        margin:  0.5em 2.2em 0 0;
        @include for-size(phone-only){
          margin:  0.5em 1.2em 0 0;
        }
        &:hover{
            color: var( --primaryColor);
            transition: all 0.5s;
           
        }
        &:active{
            transform: translateY(4px);
        }
    }
    h1{
        font-family: 'Merienda One', cursive;
        font-size: 4em;
        @include for-size(phone-only){
          font-size: 3em;
        }
       
        
    }
    .typewrite{
        font-size: 30px;
       
    }
    .headernav {
        display: flex;
        
    }
    ul{
        display: flex;
        width: 100%;
    }
  
    li {
        overflow: hidden;
        display: grid;
    font-size: 18px;
        color: var(--white);
        margin: 15px;
        margin-left: 0em;
        position: relative;
          transition: all 0.2s;
          text-shadow: 2px 8px 6px rgba(175, 175, 175, 0.2);
          @include for-size(phone-only) {
            margin: auto;
          }
          &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background-color: var(--others);
            animation: slide-out 300ms ease-in-out forwards;
            
          }
        }
        li:hover {
          cursor: pointer;
        
          &:after {
            animation: slide-in 300ms;
          }
        }
    
}

.toggleview{
  visibility: visible;
}

// about


#about{

  display: none;
   justify-content: center;
   align-items: center;
    height: 100vh;
    width: 70vw;
    margin: auto;
    animation: slide-in 300ms;
    @include for-size(phone-only) {
     margin: auto;
     flex-direction: column;
     max-width: 90vw;
  
  
    }
    .aboutInner{
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        padding: 40px 80px;
        overflow-y: auto;
        height: 80vh;
        @include for-size(phone-only) {
         padding: 40px;
       
       
         }
        
        .aboutTitle {
            display: block;
            font-family: 'Merienda One', cursive;
            font-size: 25px;
            color: var(--primaryColor);
            margin: 0 5px 40px 0;
            @include for-size(phone-only) {
              font-size: 15px;
              width: 100%;
              white-space: nowrap;
           
             }
        }
        h5{
            font-size: 15px;
            margin-bottom: 10px;
        }
        i{
            color: var(--primaryColor);
            padding-right: 10px;
        }
        ul {
            width: 50%;
            @include for-size(phone-only) {
              
              width: 100%;
           
           
             }
           
        }
       li{
            display: flex;
            align-items: center;
            padding: 5px;
            font-size: 15px;
            margin-bottom: 15px;
            line-height: 1.7;
        }
        span{
            color: var(--primaryColor);
            padding: 4px;
        }
        .mySkills{
            margin-top: 60px;
            display: flex;
            flex-direction: column;
        }
        .myServices{
            margin: 20px 0 50px 0;
            width: 100%;
            display:flex;
            justify-content: center;
            flex-wrap: wrap;
            grid-gap: 1em;
            align-items: center;
          
        }
        .html{
            @include display();
            flex-direction: column;
;            height: 8em;
            width: 11em;
            box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2);
            line-height: 4;
       
           i{
               font-size: 25px;
              
           }
           
        }
        .sass{
            @include display();
            flex-direction: column;
            height: 8em;
            width: 11em;
            box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2);
            line-height: 4;
       
           i{
               font-size: 25px;
              
           }
        }
        .javascript{
            @include display();
            flex-direction: column;
            height: 8em;
            width: 11em;
            box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2);
            line-height: 4;
       
           i{
               font-size: 25px;
             
             
              
           }
        }
        
    }
    
   
}

.gif img{
    width: 20vw;
    @include for-size(phone-only) {
      width: 40vw;
      margin-bottom: 2em;
  
     
    
     }
}
.topAbout{
    display: flex;
    @include for-size(phone-only) {
      display: flex;
      flex-direction: column;
      align-items: center;
  
    
     }
}
.html:hover, .sass:hover, .javascript:hover{
 cursor: pointer;
 transition: all 0.5s;
    background-color: snow;
    &:active{
        transform: translateY(5%);
    }

}


// resume

#resume{
  display: flex;
  justify-content: center;
  align-items: center;
   height: 100vh;
   width: 70vw;
   margin: auto;
   transition: all 0.9s ease-in-out;
   animation: slide-in 300ms;
   @include for-size(phone-only) {
    margin: auto;
    flex-direction: column;
    width: 90vw;
    flex-wrap: wrap;
 
   }
   .resumeInner{
       display: flex;
       
       flex-direction: column;
       background-color: var(--white);
       padding: 40px 80px;
   
       overflow-y: auto;
       height: 80vh;
       @include for-size(phone-only) {
       padding: 30px;
      
     
       }
       .resumeTitle {
           display: block;
           font-family: 'Merienda One', cursive;
           font-size: 25px;
           color: var(--primaryColor);
           margin: 0 5px 40px 0;
          
       }
       p{
         font-size: 18px;
         font-family: 'Karla', sans-serif;
         color: var(--black);
       }
       
       h5{
           font-size: 18px;
           margin-bottom: 10px;
           text-transform: uppercase;
           font-weight: normal;
       }
       i{
           color: var(--primaryColor);
           padding-right: 15px;
           font-size:40px;
       }
       ul {
           width: 50%;
       }
       p{
         color: var(--primaryColor);
       }
       
      li{
           display: flex;
           align-items: center;
           padding: 5px;
           font-size: 15px;
           margin-bottom: 15px;
       }
       span{
           color: var(--primaryColor);
           padding: 4px;
       }
       .mySkills{
           margin-top: 60px;
           display: flex;
           flex-direction: column;
           flex-wrap: wrap;
          
       }
       .myServices{
           margin: 20px 0 50px 0;
           width: 100%;
           display:flex;
           justify-content: center;
           flex-wrap: wrap;
           grid-gap: 1em;
           align-items: center;
         
       }
       
      
       
   }
   
  
}



.gif{
  width: 25vw;
}
.topResume{
  display: flex;
  margin-bottom: 3em;
}



// portofolio
.gridContainer{
    display: none;
    justify-content: center;
    align-items: center;
     height: 100vh;
     width: 70vw;
     margin: auto;
     transition: all 0.9s ease-in-out;
     animation: slide-in 300ms;
     @include for-size(phone-only) {
      width: 90vw;
     
   
     }

     .grid{
      display: grid;
     grid-gap: 30px;
     grid-template-columns: repeat(2, 1fr );
     flex-wrap: wrap;
      background-color: var(--white);
      padding: 40px 60px;
      overflow-y: auto;
      height: 80vh;
      width: 100%;
      @include for-size(phone-only) {
        grid-template-columns: repeat(1, 1fr );
       
      }
      

      h1{
        font-family: 'Merienda One', cursive;
        font-size: 3em;
        color: var(--primaryColor);
        @include for-size(phone-only) {
          font-size: 1.3em;
      
         
        
         }
       
        
    }
 
       
     }

}






// contact page

#contact{
  display: none;
  justify-content: center;
  align-items: center;
   height: 100vh;
   width: 70vw;
   margin: auto;
   transition: all 0.9s ease-in-out;
   animation: slide-in 300ms;
   @include for-size(phone-only) {
    width: 90vw;
   
 
   }
   .contactInner{
       display: flex;
      text-align: center;
       align-items: center;
       flex-direction: column;
       background-color: var(--white);
       padding: 40px 80px;

       overflow-y: auto;
       height: 80vh;
       .contactTitle {
           display: block;
           font-family: 'Merienda One', cursive;
           font-size: 25px;
           color: var(--primaryColor);
           margin: 0 5px 80px 0;
           @include for-size(phone-only) {
           font-size: 18px;
         
           }
       }
       p{
        font-size: 18px;
        font-family: 'Karla', sans-serif;
        color: var(--black);
        margin-top: 0.5em;
       }
       ul {
           width: 50%;
       }
      li{
           display: flex;
           align-items: center;
           padding: 5px;
           font-size: 15px;
           margin-bottom: 15px;
       }
       span{
           color: var(--primaryColor);
           padding: 4px;
       }
       .mySkills{
           margin-top: 60px;
           display: flex;
           flex-direction: column;
       }
       .myServices{
           margin: 20px 0 50px 0;
           width: 100%;
           display:flex;
           justify-content: center;
           flex-wrap: wrap;
           grid-gap: 1em;
           align-items: center;
         
       }
       .html{
           @include display();
           flex-direction: column;
;            height: 8em;
           width: 11em;
           box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2);
           line-height: 4;
      
          i{
              font-size: 25px;
             
          }
          
       }
       .sass{
           @include display();
           flex-direction: column;
           height: 8em;
           width: 11em;
           box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2);
           line-height: 4;
      
          i{
              font-size: 25px;
             
          }
       }
       .javascript{
           @include display();
           flex-direction: column;
           height: 8em;
           width: 11em;
           box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2);
           line-height: 4;
      
          i{
              font-size: 25px;
            
            
             
          }
       }
       
   }
   
  
}


.inputForm{
  @include display();

  border-radius: 50px;
  margin-bottom: 3em;
 
  p{
    color: var(--primaryColor) !important;
    
  }
}

.social {
  margin: auto;

i{

  color: var(--primaryColor);
  font-size: 2em;
  margin:  0 15px 1em 0;
}
}

@keyframes slide-out{
    0%{
      transform: none
    }
    100%{
      transform: translate(102%,0)
    }
  }
  @keyframes slide-in{
    0%{
      transform: translate(-100%,0)
    }
    100%{
      transform: none
    }
    }




  
//     .navbar input
//     {
//       display: none;
//       width: 40px;
//       height: 32px;
//       position: absolute;
//       top: 20px;
//       right: 28px;
      
//       cursor: pointer;
      
//       opacity: 0; /* hide this */
//       z-index: 2; /* and place it over the hamburger */
      
//       -webkit-touch-callout: none;
//       @include for-size(phone-only){
//         display: block;
//       }
//     }


//     .navbar span
// {
//   display: none;
//   width: 33px;
//   height: 4px;
//   margin-bottom: 5px;
//   position: relative;

//   background: var(--others);
//   border-radius: 3px;
  
//   z-index: 1;
  
//   transform-origin: 4px 0px;
  
//   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
//               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
//               opacity 0.55s ease;
//    @include for-size(phone-only){
//                 display: block;
//               }
// }

// .navbar  span:first-child
// {
//   transform-origin: 0% 0%;
// }

// .navbar  span:nth-last-child(2)
// {
//   transform-origin: 0% 100%;
// }

// /* 
//  * Transform all the slices of hamburger
//  * into a crossmark.
//  */
//  .navbar  input:checked ~ span
// {
//   opacity: 1;
//   transform: rotate(45deg) translate(-2px, -1px);
//   background: #232323;
// }

// /*
//  * But let's hide the middle one.
//  */
//  .navbar  input:checked ~ span:nth-last-child(3)
// {
//   opacity: 0;
//   transform: rotate(0deg) scale(0.2, 0.2);
// }

// /*
//  * Ohyeah and the last one should go the other direction
//  */
//  .navbar  input:checked ~ span:nth-last-child(2)
// {
//   transform: rotate(-45deg) translate(0, -1px);

// }


// @include for-size(phone-only){
//   nav input:checked ~ ul
// {
//   transform: none;
// }

// }